<div class="containerX">
  <div fxLayoutGap="50px" fxLayout="column column">
    <form fxLayout="column wrap"
          fxLayoutAlign="center center"
          [formGroup]="form"
          class="form__download"
          (ngSubmit)="formSubmit()" >
      <mat-form-field class="link__full-width">
        <input name="link"
               formControlName="link"
               matInput
               placeholder="Enter link to youtube">
      </mat-form-field>
      <div class="example-button-row">
        <button mat-raised-button
                color="accent"
                type="submit"
                [disabled]="!form.valid">Get
        </button>
      </div>
    </form>
    <div class="container"
         fxLayout="column wrap"
         fxLayoutGap="30px"
         fxLayoutAlign="center center">
      <div class="video__title">{{videoProperties?.title}}</div>
      <div fxLayout="raw wrap"
           fxLayoutGap="100px">
        <div class="video__thumbnail" fxFlex.xs>
          <img *ngIf="videoProperties" alt="{{videoProperties.title}}"
               src="{{videoProperties.thumbnailUrl}}">
        </div>

        <mat-nav-list *ngIf="videoProperties" fxFlex.md>
          <mat-list-item *ngFor="let videoUrl of videoProperties.videos">
            <a href="{{ videoUrl.url }}">{{ videoUrl.itag }}
              / {{ videoUrl.quality }} /
              {{ videoUrl.ext }}</a>
            <mat-icon matListIcon>hd</mat-icon>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </div>
</div>
